<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.jero">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- orientation 旋转  screenSize 屏幕范围大小（虚拟键）keyboardHidden 键盘把~~  反正猜一猜~~~差不多 -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ADemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alone.DStaticLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alone.DAutoSizeAct"
            android:screenOrientation="portrait" />
        <activity android:name=".LayDemoActivity" />
        <activity
            android:name=".layout.coordinator.CoordinatorLayActivity"
            android:label="@string/title_activity_coordinator_lay"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- android:configChanges="orientation|screenSize"(设置以后可以在回调里面动态变更)  如果设置以后 layout 里面land 不生效 -->
        <activity android:name=".layout.ff.FActivity" />
        <activity
            android:name=".layout.coordinator.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".layout.coordinator.ShopDemoAct"
            android:theme="@style/AppTheme.fall" />
        <activity android:name=".layout.coordinator.HomeDemoAct" />
        <activity android:name=".alone.SaveActivity" />
        <activity android:name=".try_test.TestActivity" />
    </application>

</manifest>